<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ultrapro_Test">
   <!-- run this file as Run Configuration passing below parameters 
    		1.	-DBROWSER=chrome   // browser name 
			2.	-DENV=qa2          // environment
     -->
   <test name="Ultrapro_Test"> 
      <classes>      
               <class name="com.ultrapro.test.regression.FooterBlock_Test">
               
               </class>
      </classes>
   </test>
</suite>